.bold{
    font-weight: bold;
}

.login{
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 5px;
    height: 33px;
    color: black;
}

.signup{
    background-color: red;
    border-radius: 3px;
    height: 33px;
}

.sign-log a{
    text-decoration: none;
}

.dropdown-menu{
    margin-top: 1vh;
    margin-left: 14vw;
}

.margin-right{
    margin-right: 1.5vw;
}
    